**/__pycache__
/all_features/
/baselines/
/blender/
/eval/
/full_gt/
/sam/
/samples/
/samples_mesh/
/save/
/smpl_models/
/test_model/

/*.sh
/*.out
/*.tar.gz

/data/*
!/data/*.py

/config/*.json
!/config/mospa.json
!/config/extractor.json

/test.py